.idea/.gitignore
.idea/galeria.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
widok/__pycache__/
db.sqlite3
widok/__pycache__/
config.json
media/profile_img/
users/__pycache__/

