.idea/
widok/__pycache__/
db.sqlite3
.env
widok/__pycache__/
media/profile_img/
users/__pycache__/
galeria/__pycache__/
/users/migrations/
/media/img_file/
api/__pycache__/
users/__pycache__/c
widok/migrations/
cache/
