{%extends 'base.html'%}
{%block content%}




<div class="container">
    {%if messages%}
        {%for message in messages%}
    <div class="alert {%if message.tags == 'error'%}alert-danger {%else%}alert-{{message.tags}}{%endif%} alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}


    <div class="row">

        {%for zdjecie,ilosc_kom,avg_ocen,ilosc_ocen in zdjecia%}
        <figure class="col-md-6 col-lg-4">
            <a href="{%url 'widok_obrazka' id_obrazka=zdjecie.id%}">
                <div class="obr" >
                    <img src="{{zdjecie.obrazek_path}}" style="height:100%; width:100%"  class="img-fluid zdjecie rounded ">
                </div>
            </a>

            <div class="bottom-left ">&#11088;: {{avg_ocen}}<small class="text-muted ml-1">{{ilosc_ocen}}</small></div>
            {{test}}
            <div class="bottom-right">Komentarze: {{ilosc_kom}}</div>
            <h3 class="text-center my-3 pb-2">{{zdjecie.tytul}}</h3>
        </figure>

        {%endfor%}


    </div>
</div>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
        <span style="color: #007bff;"> Jakub Biernacki</span>
    </div>
    <!-- Copyright -->

</footer>
{%endblock%}