{%extends 'base.html'%}
{%block content%}
{%load crispy_forms_tags%}

<div class="container">
    {%if messages%}
    {%for message in messages%}
    <div class="alert {%if message.tags == 'error'%}alert-danger {%else%}alert-{{message.tags}}{%endif%} alert-dismissible"
         role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}



    <div class="card mt-5">
        <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Napisz do mnie
        </div>
        <div class="card-body">
            <form method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>


                    {{form.email}}
                    <small id="emailHelp" class="form-text text-muted">Proszę podać adres email po którym moge się z
                        tobą skontaktować</small>
                </div>

                <div class="form-group">
                    <label for="name">Tytuł</label>
                    {{form.tytul}}

                </div>

                <div class="form-group">
                    <label for="message">Wiadomość</label>
                    {{form.tresc}}

                </div>


                <div class="form-group">

                    {{form.checkbox}} wyślij kopie do mnie

                </div>



                <div class="mx-auto">
                    <button type="submit" class="btn btn-primary text-right">Wyślij</button>
                </div>


            </form>
        </div>
    </div>

</div>

{%endblock%}


