{%extends "base.html"%}
{% load static %}

{%block content%}
<div class="alert alert-info">
    Hasło zostało poprawnie zmienione
</div>

<figure class=" col-md-12 d-flex justify-content-center ">
    <a href="{%url 'login'%}" style="text-decoration: none;">
        <div class="obr" style="width: 256px;height:256px">
            <img src="https://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" style="height:100%; width:100%"
                 class="img-fluid zdjecie rounded ">
            <h3 class="text-center my-3 pb-2">Zaloguj się</h3>
        </div>
    </a>


    {%endblock content%}
