{%extends "base.html"%}
{%load crispy_forms_tags%}

{%block content%}

    <div class="container">
        <div class="col-md-8">




        <form method="post">{%csrf_token%}
            <fieldset class="form-group">
                <legend class="boredr-bottom mb-4">Zresetuj hasło</legend>
                {{form|crispy}}
                <small class="text-muted">Podaj adres email z którym powiązane jest twoje konto</small>
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Wyślij</button>
            </div>
        </form>

    </div>
    </div>
{%endblock content%}
