{%extends "base.html"%}
{%load crispy_forms_tags%}

{%block content%}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-9">

            {%if messages%}
            {%for message in messages%}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            <div class="content-section jumbotron pt-4 pb-5 mt-4">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
                    <div class="media-body">
                        <h2 class="account-heading">{{user.username}}</h2>

                        <p class="text-secondary">{{user.first_name|title}} {{user.last_name|title}}<br>email:
                            {{user.email}}</p>

                    </div>
                </div>

                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Dane konta</legend>
                        <div class="col-lg-9">
                            {{u_form|crispy}}
                        </div>

                        <legend class="">Zdjęcie profilowe</legend>
                        <div class="col-lg-9">
                            {{p_form.image}}
                        </div>

                    </fieldset>

                    <div class="form-group">
                        <button class="btn btn-outline-primary mt-4" type="submit">Edytuj informacje</button>
                    </div>
                </form>

            </div>

        </div>


    </div>
</main>
{%endblock content%}
