{%extends 'base.html'%}
{%block content%}
{% load static %}
{% load cache %}

<link rel="stylesheet" href="{%static 'css/ikony.css'%}">
<link rel="stylesheet" href="{%static 'css/star.css'%}">
<div class="container">



    <div class="row d-flex justify-content-between">
        <a id="back" onclick="window.history.back()" class="btn  btn-lg">
            <i class="fas fa-arrow-left"></i>

        </a>
        <div>
            {% if user == obrazek.autor or user.is_superuser%}
            <!--        edycja-->
            <a class="btn edit btn-lg" href="{%url 'edit' obrazek.id%}">
                <i class="fas fa-edit"></i>
            </a>
            <!--        usuwanie-->
            <a class="btn bin btn-lg" href="{%url 'remove' obrazek.id%}">

                <i class="fas fa-trash-alt"></i>

            </a>
            {%endif%}
        </div>
    </div>
    <p>
        {%if messages%}
        {%for message in messages%}
    <div class="alert {%if message.tags == 'error'%}alert-danger {%else%}alert-{{message.tags}}{%endif%} alert-dismissible"
         role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    </p>



    <div class="row text-right d-md-none ">
        <small class="text-muted col-12">Data publikacji: {{ obrazek.data_publikacji|date:"F d Y" }}</small>
    </div>

    <!--    zdjecie-->
    <div class="card">
        <img

                {%if obrazek.obrazek_path%}
                src="{{obrazek.obrazek_path}}"
                {%else%}
                src="{{obrazek.obrazek_file.url}}"
                {%endif%}

                min-width="1024px" min-height="768px" class="card-img-top">

        <div class="card-body" id="ocena">
            <div class="row d-flex justify-content-between ">
                <div class="col-12 col-md-6">
                    <a style="text-decoration:none;" href="{%url 'user-posts' obrazek.autor %}">
                        <img class="rounded-circle" src="{{obrazek.autor.profile.image.url}}" width="32px"
                             height='32px'>
                        {{obrazek.autor}}
                    </a>
                </div>
                <div class="col-12 col-md-6 text-md-right ">
                    <small class="text-muted d-none d-md-block">Data publikacji: {{ obrazek.data_publikacji|date:"F d Y" }}</small>
                </div>
            </div>
            <div class="row p  justify-content-between">
                <div class="col-12 col-md-6 h1">Tytuł: {{obrazek.tytul}}</div>


                <div class="col-12 col-lg-6 text-lg-right podglad_ocen">
                    <!--                    średnia gwiazdek w podglądzie-->


                    <span class="font-weight-light  h4">
                    </span>
                </div>
            </div>

            <div name="star">
                {%if user.is_authenticated %}
                {%if czy_ocenil%}
                <div class="row h5  pt-4">
                    <div class="col">
                        <div class="rating ">
                            {%for i in podglad_gwiazdek%}
                            <input type="radio"
                                   {%if i == czy_ocenil %} checked {%endif%}><label class="disabled"></label>
                            {%endfor%}
                        </div>
                    </div>
                </div>

                <button type="submit" class="  mb-1 ml-1 btn btn-primary " disabled>ocenione</button>
                {%else%}
                <!--Onecianie-->


                <div class="row h5  pt-4">
                    <div class="col">
                        <div class="rating ">

                            <input type="radio" name="ocena" value="5" id="id_ocena_0">
                            <label for="id_ocena_0">1 stars</label>

                            <input type="radio" name="ocena" value="4" id="id_ocena_1">
                            <label for="id_ocena_1">2 stars</label>

                            <input type="radio" name="ocena" value="3" id="id_ocena_2">
                            <label for="id_ocena_2">3 stars</label>

                            <input type="radio" name="ocena" value="2" id="id_ocena_3">
                            <label for="id_ocena_3">4 stars</label>

                            <input type="radio" name="ocena" value="1" id="id_ocena_4">
                            <label for="id_ocena_4">5 stars</label>

                        </div>


                    </div>
                </div>

                <button type="submit" class=" wyslij_ocene ml-1 btn btn-primary">Wyślij ocene</button>
                {%endif%}


                {%else%}
                <div class="pt-4 pb-4">
                    <a href="{% url 'login' %}?next={{request.path}}"> Zaloguj się</a> aby dodać ocene
                </div>
                {%endif%}
            </div>
        </div>
    </div>
    <!--    sekcja kometarzy-->
    <div class="row d-flex justify-content-center">
        <p class="h1  alert alert-light" id="komentarz">Sekcja komentarzy</p>
    </div>
    <!--    WYSWIETLANIE-->
    <div class="d-flex  justify-content-center">
        <div class="jumbotron pt-5 pb-5 col-12">
            <div class="col-12">
                <div class="row bootstrap snippets bootdeys">
                    <div class="col-md-8 col-12">
                        <div class="comment-wrapper">
                            <div class="panel panel-info">
                                <div class="panel-heading h3">
                                    Dodaj komentarz
                                </div>
                                <hr>
                                <div class="panel-body">
                                    {%if user.is_authenticated%}
                                    
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Autor:</label>

                                            <div class="h2">
                                                <img class="rounded-circle" src="{{user.profile.image.url}}"
                                                     width="32px" height='32px'> {{user}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Treść komentarza</label>
                                            <textarea class="col-11 pole_kom form-control" rows="3"
                                                      placeholder="twój komentarz..."></textarea>
                                        </div>
                                        <button class="dodaj_kom btn btn-primary">dodaj</button>
                                    
                                    {%else%}
                                    <p class="mt-5 mb-5"><a href="{% url 'login' %}?next={{request.path}}">
                                        Zaloguj się</a> aby dodać komentarz</p>
                                    {%endif%}
                                    <div class="clearfix"></div>
                                    <hr>
                                    <!--                                        Sekcja kometarzy-->
                                    <ul class="media-list pl-0">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tymczasowe -->

<script>
    const link_values = window.location.href.slice(0, -1).split('/')
    const obrazek_id = link_values[link_values.indexOf('obrazek')+1]


    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
</script>


<script src="{%static 'js/detail_gwiazdki.js'%}"></script>
<script src="{%static 'js/detail_kometarze.js'%}"></script>


{%endblock%}