{%extends 'base.html'%}
{%block content%}
{% load static %}


<link rel="stylesheet" href="{%static 'css/ikony.css'%}">
<link rel="stylesheet" href="{%static 'css/star.css'%}">
<div class="container">


    <!--    ikony-->
    <div class="row d-flex justify-content-between">
        <a id="back" class="btn  btn-lg">
            <svg id="cofnij" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>

        </a>
        <div>
            {% if user == obrazek.autor or user.is_superuser%}
            <!--        edycja-->
            <a class="btn edit btn-lg" href="{%url 'edit' obrazek.id%}">
                <svg id="edit" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </a>
            <!--        usuwanie-->
            <a class="btn bin btn-lg" href="{%url 'remove' obrazek.id%}">

                <svg id="kosz" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg>

            </a>
            {%endif%}
        </div>
    </div>
    <p>
        {%if messages%}
        {%for message in messages%}
    <div class="alert {%if message.tags == 'error'%}alert-danger {%else%}alert-{{message.tags}}{%endif%} alert-dismissible"
         role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    </p>


    <div class="row text-right d-md-none ">
        <small class="text-muted col-12">Data publikacji: {{ obrazek.data_publikacji|date:"F d Y" }}</small>
    </div>

    <!--    zdjecie-->
    <div class="card">
        <img

                {%if obrazek.obrazek_path%}
                src="{{obrazek.obrazek_path}}"
                {%else%}
                src="{{obrazek.obrazek_file.url}}"
                {%endif%}

                min-width="1024px" min-height="768px" class="card-img-top">

        <div class="card-body" id="ocena">
            <div class="row d-flex justify-content-between ">
                <div class="col-12 col-md-6">
                    <a style="text-decoration:none;" href="{%url 'user-posts' obrazek.autor %}">
                        <img class="rounded-circle" src="{{obrazek.autor.profile.image.url}}" width="32px"
                             height='32px'>
                        {{obrazek.autor}}
                    </a>
                </div>
                <div class="col-12 col-md-6 text-md-right ">
                    <small class="text-muted d-none d-md-block">Data publikacji: {{ obrazek.data_publikacji|date:"F d Y" }}</small>
                </div>
            </div>
            <div class="row p  justify-content-between">
                <div class="col-12 col-md-6 h1">Tytuł: {{obrazek.tytul}}</div>
                <div class="col-12 col-lg-6 text-lg-right podglad_ocen">
                    <!--                    średnia gwiazdek w podglądzie-->


                    <span class="font-weight-light  h4">
<!--                        Obrazek srednia ocen-->

                        <!--                    <small class='count_ocen text-muted'> &lt;!&ndash;ilosc ocen&ndash;&gt;</small>-->



                    </span>
                </div>
            </div>
            <!--                formularz oceny-->
            <div name="star">
                {%if user.is_authenticated %}
                {%if czy_ocenil%}
                <div class="row h5  pt-4">
                    <div class="col">
                        <div class="rating ">
                            {%for i in podglad_gwiazdek%}
                            <input type="radio"
                                   {%if i == czy_ocenil %} checked {%endif%}><label class="disabled"></label>
                            {%endfor%}
                        </div>
                    </div>
                </div>

                <button type="submit" class="  mb-1 ml-1 btn btn-primary " disabled>ocenione</button>
                {%else%}
                <!--Onecianie-->


                <div class="row h5  pt-4">
                    <div class="col">
                        <div class="rating ">

                            <input type="radio" name="ocena" value="5" id="id_ocena_0">
                            <label for="id_ocena_0">1 stars</label>

                            <input type="radio" name="ocena" value="4" id="id_ocena_1">
                            <label for="id_ocena_1">2 stars</label>

                            <input type="radio" name="ocena" value="3" id="id_ocena_2">
                            <label for="id_ocena_2">3 stars</label>

                            <input type="radio" name="ocena" value="2" id="id_ocena_3">
                            <label for="id_ocena_3">4 stars</label>

                            <input type="radio" name="ocena" value="1" id="id_ocena_4">
                            <label for="id_ocena_4">5 stars</label>

                        </div>


                    </div>
                </div>

                <button type="submit" class=" wyslij_ocene ml-1 btn btn-primary">Wyślij ocene</button>
                {%endif%}


                {%else%}
                <div class="pt-4 pb-4">
                    <a href="{% url 'login' %}?next={{request.path}}"> Zaloguj się</a> aby dodać ocene
                </div>
                {%endif%}
            </div>
        </div>
    </div>
    <!--    sekcja kometarzy-->
    <div class="row d-flex justify-content-center">
        <p class="h1  alert alert-light" id="komentarz">Sekcja komentarzy</p>
    </div>
    <!--    WYSWIETLANIE-->
    <div class="d-flex  justify-content-center">
        <div class="jumbotron pt-5 pb-5 col-12">
            <div class="col-12">
                <div class="row bootstrap snippets bootdeys">
                    <div class="col-md-8 col-12">
                        <div class="comment-wrapper">
                            <div class="panel panel-info">
                                <div class="panel-heading h3">
                                    Dodaj komentarz
                                </div>
                                <hr>
                                <div class="panel-body">
                                    {%if user.is_authenticated%}
                                    
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Autor:</label>

                                            <div class="h2">
                                                <img class="rounded-circle" src="{{user.profile.image.url}}"
                                                     width="32px" height='32px'> {{user}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Treść komentarza</label>
                                            <textarea class="col-11 pole_kom form-control" rows="3"
                                                      placeholder="twój komentarz..."></textarea>
                                        </div>
                                        <button class="dodaj_kom btn btn-primary">dodaj</button>
                                    
                                    {%else%}
                                    <p class="mt-5 mb-5"><a href="{% url 'login' %}?next={{request.path}}#komentarz">
                                        Zaloguj się</a> aby dodać komentarz</p>
                                    {%endif%}
                                    <div class="clearfix"></div>
                                    <hr>
                                    <!--                                        Sekcja kometarzy-->
                                    <ul class="media-list pl-0">



                                        




                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tymczasowe -->

<script>
    const obrazek_id = {{obrazek.id}}
    const user_id = {{user.id}}

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

</script>

<script src="{%static 'js/detail.js'%}"></script>
<script src="{%static 'js/detail_gwiazdki.js'%}"></script>
<script src="{%static 'js/detail_kometarze.js'%}"></script>


{%endblock%}