{%extends 'base.html'%}
{%block content%}
{% load static %}

<div class="container">
    {%if messages%}
    {%for message in messages%}
    <div class="alert {%if message.tags == 'error'%}alert-danger {%else%}alert-{{message.tags}}{%endif%} alert-dismissible"
         role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}


    <a class="btn  btn-lg" href=" {%if obrazek.id%} {%url 'detail' obrazek.id%} {%else%} / {%endif%}">
        <i class="fas fa-arrow-left"></i>
    </a>
    <div>

        <div class="jumbotron">
            <div class="row">

                <h1 class="display-5 col-12">{%if obrazek.id%}Edytuj obraz{%else%}Dodaj obraz do galerii{%endif%}</h1>


            </div>
            <hr class="my-4">
            <!--    form-->
            <div class="row">


                <form class="col-12 row" method="post" enctype="multipart/form-data">{% csrf_token %}


                    <div class="col-md-8">
                        <div class="form-group">
                            {%if obrazek.obrazek_path or opcja == 'link'%}
                            <label for="id_obrazek_path">Ścieżka do obrazka</label>

                            {{form.obrazek_path}}
                            <small class="text-muted">Link musi być bazpieczny oraz obrazek musi mieć nie mniej niż
                                640x480</small>
                            {%else%}

                            {{form.obrazek_file}}

                            {%endif%}

                        </div>

                        <div class="form-group ">
                            <label for="id_tytul">Tytuł</label>
                            {{form.tytul}}
                        </div>
                    </div>

                    <div id="podglad" class="col-12 col-xl-4 pb-4">

                        {%if not obrazek%}
                        <div id="spin" class=" mt-5 d-flex align-items-center">
                            <strong>Podgląd obrazka... </strong>
                            <div class="spinner-border ms-auto text-primary ml-3" role="status"
                                 aria-hidden="true"></div>
                        </div>
                        <img id="blah" style="max-height:200px; max-width:350px" class="rounded ">
                        {%else%}

                        <img id="blah" src="
                        {%if obrazek.obrazek_path%}
                        {{obrazek.obrazek_path}}
                        {%else%}
                        {{obrazek.obrazek_file.url}}
                        {%endif%}
                        " style="max-height:200px; max-width:350px" class="rounded ">
                        {%endif%}

                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary ">{{przycisk}}</button>
                    </div>
                </form>


            </div>

        </div>


    </div>

</div>


<script src="{%static 'js/form.js'%}"></script>

{%endblock%}


