{%extends 'base.html'%}
{%block content%}
{% load static %}


<div class="container" style="height: 100%">
    <!--    info-->
    {%if messages%}
    {%for message in messages%}
    <div class="alert {%if message.tags == 'error'%}alert-danger {%else%}alert-{{message.tags}}{%endif%} alert-dismissible"
         role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}

    <!--    obrazki-->
    {%if view.kwargs.username%}
    <h1 class="mb-3">Obrazy dodane przez użytkownika: <img class="rounded-circle" src="{{view.kwargs.img}}" width="50px"
                                                           height="50px" class="mr-2"/> {{view.kwargs.username}}
        ({{page_obj.paginator.count}})</h1>
    <hr>
    {%endif%}


    <div class="row pt-3 allobr">


        {%for obrazek in object_list %}
        <figure class="col-md-6 col-lg-4">
            <a href="{%url 'detail' obrazek.id%}">
                <div class="obr obr_r">
                    <img
                            {%if obrazek.obrazek_path%}
                            src="{{obrazek.obrazek_path}}"
                            {%else%}
                            src="{{obrazek.obrazek_file.url}}"
                            {%endif%}
                            style="height:100%; width:100%"
                            class="img-fluid zdjecie rounded ">
                </div>
            </a>
            <div class="obr-bottom">
                <div class="bottom-left ">&#11088;: {{obrazek.srednia_ocen}}<small
                        class="text-muted ml-1">{{obrazek.count}}</small></div>
                {{test}}
                <div class="bottom-right">Komentarze: {{obrazek.kometarz_set.count}}</div>
                <h3 class="text-center my-3 pb-2">{{obrazek.tytul}}</h3>
            </div>
        </figure>

        {%endfor%}


    </div>

    <!--Pagination-->
    {% if is_paginated%}

    <div class="btn-toolbar col-12 d-flex justify-content-between" role="toolbar"
         aria-label="Toolbar with button groups">
        <!--first-->
        <div class="btn-group mr-2 d-none d-md-block" role="group" aria-label="First group">
            <a href="?page=1">
                <button type="button" class="btn btn-outline-primary" {%if not page_obj.has_previous%}disabled{%endif%}>

                    Pierwsza
                    <i class="fas fa-fast-backward"></i>
                </button>
            </a>
        </div>

        <div class="btn-group mr-2 col-md-7 col-lg-6" role="group" aria-label="Second group">
            <!--previous-->
            <a class="btn btn-secondary {%if not page_obj.has_previous%}disabled" {%else%}"href="?page={{page_obj.previous_page_number}}{%endif%}">
            <i class="fas fa-step-backward"></i>
            Poprzednia</a>

            <!--Near-->
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num%}
            <a class="btn btn-outline-secondary " href="?page={{num}}">{{num}}</a>
            {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
            <a class="btn btn-secondary " href="?page={{num}}">{{num}}</a>
            {%endif%}
            {%endfor%}

            <!--next-->
            <a class="btn btn-secondary {%if not page_obj.has_next%}disabled" {%else%}"
            href="?page={{page_obj.next_page_number}}" {%endif%}>Następna
            <i class="fas fa-step-forward"></i>
            </a>

        </div>
        <!--last-->
        <div class="btn-group d-none d-md-block" role="group" aria-label="Third group">
            <a href="?page={{page_obj.paginator.num_pages}}">
                <button type="button" class="btn btn-outline-primary" {%if not page_obj.has_next%}disabled{%endif%}>
                    <i class="fas fa-fast-forward"></i>
                    Ostatnia
                </button>
            </a>
        </div>


    </div>


    {%endif%}

    <!--end container-->
</div>


<footer id="footer" class="page-footer bottom col-12 footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center  col-12 py-3">© 2021 Copyright
        <span style="color: #007bff;"> Jakub Biernacki</span>
    </div>

    <!-- Copyright -->
</footer>

<script src="{%static 'js/home.js'%}"></script>

<!--animacja-->


{%endblock%}